{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom border-3">SERVICES</h1>
    <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
            <i class="fa-brands fa-python fa-3x mb-3" style="color:gold;"></i>            
            <h3>Python Language</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolores, odio neque,</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-palette fa-3x mb-3" style="color:gold;"></i>            
            <h3>Web Design</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolores, odio neque,</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-brands fa-dev fa-3x mb-3" style="color:gold;"></i>          
            <h3>web Development</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolores, odio neque,</p>
        </div>
    </div>
    <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-house fa-3x mb-3" style="color:gold;"></i>            
            <h3>Front-end Development</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolores, odio neque,</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-gears fa-3x mb-3" style="color:gold;"></i>            
            <h3>Backend Development</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolores, odio neque,</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-brands fa-codepen fa-3x mb-3" style="color:gold;"></i>            
            <h3>Django Development</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolores, odio neque,</p>
        </div>
    </div>
    <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-database fa-3x mb-3" style="color:gold;"></i>          
            <h3>SQL(DATABASE)</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolores, odio neque,</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid i-color fa-code fa-3x mb-3" style="color:gold;"></i>            
            <h3>Codder</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolores, odio neque,</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-crown fa-3x mb-3" style="color:gold;"></i>            
            <h3>LeaderShip</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolores, odio neque,</p>
        </div>
    </div>
</div>







{% endblock content %}

