{% extends 'core/base.html' %}


{% block content %}

<div class="container mt-5">
    <h1 class="text-warning mt-5 border-bottom">MY SKILLS</h1>
    <div class="row">
        <div class="col-sm-5 mt-3">
            <h3 class="text-white fw-bold mb-3 mt-5">C </h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated fw-bold"
                    role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%
                </div>
            </div>
        </div>
        <div class="col-sm-5 mt-3 offset-sm-2">
            <h3 class="text-white fw-bold mb-3 mt-5">Python</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger fw-bold"
                    role="progressbar" style="width: 91%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">91%
                </div>
            </div>
        </div>
        <div class="col-sm-5 mt-3 ">
            <h3 class="text-white fw-bold mb-3 mt-5">C++</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated fw-bold"
                    role="progressbar" style="width: 40%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">40%
                </div>
            </div>
        </div>
        <div class="col-sm-5 mt-3 offset-sm-2">
            <h3 class="text-white fw-bold mb-3 mt-5">DSA</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning fw-bold text-dark"
                    role="progressbar" style="width: 35%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">35%
                </div>
            </div>
        </div>
        <div class="col-sm-5 mt-3">
            <h3 class="text-white fw-bold mb-3 mt-5">HTMl/CSS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger fw-bold"
                    role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%
                </div>
            </div>
        </div>
        <div class="col-sm-5 mt-3 offset-sm-2">
            <h3 class="text-white fw-bold mb-3 mt-5">JavaScript</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning fw-bold text-dark"
                    role="progressbar" style="width: 40%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">40%
                </div>
            </div>
        </div>
        <div class="col-sm-5 mt-3">
            <h3 class="text-white fw-bold mb-3 mt-5">Boostrap</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated fw-bold"
                    role="progressbar" style="width: 79%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">79%
                </div>
            </div>
        </div>
        <div class="col-sm-5 mt-3 offset-sm-2">
            <h3 class="text-white fw-bold mb-3 mt-5">SQL(Structure Query Language)</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated fw-bold"
                    role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%
                </div>
            </div>
        </div>
        <div class="col-sm-5 mt-3 mb-5">
            <h3 class="text-white fw-bold mb-3 mt-5">Django(Python)</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated fw-bold"
                    role="progressbar" style="width: 69%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">69%
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}